<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Otaku Review">
    <meta name="keywords" content="anime, Otaku, Review, OtakuReview,">
    <meta name="author" content="Donovan Hill">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">

</head>

<body style="padding: 46px;">
    <header>
        <div id="header">
            <img id="logo" src="../images/Logo.jpg" alt="Logo"> width</img>
            <div id="homeBar">
                <a href="/">
                    <h3> HOME </h3>
                </a>
                <a href="/animeList">
                    <h3> ANIME LIST </h3>
                </a>
                <div id="signin">
                <a href="/login"><h3 style="margin: 3px; color: #121212;">SignIn </h3></a>
                </div>


            </div>

        </div>
    </header>
    <form action="action_page.php">
        <div class="container">
          <h1>Register</h1>
          <p>Please fill in this form to create an account.</p>
          <hr>
      
          <label for="Username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="email" id="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
          <hr>
      
          <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
          <button type="submit" class="registerbtn">Register</button>
        </div>
      
        <div class="container signin">
          <p>Already have an account? <a href="/login">Sign in</a>.</p>
        </div>
      </form>
    <footer>
        <div id="footer">
            <h1>About</h1>
            <h1>Contact Us</h1>
            <h1>Home</h1>
        </div>
    </footer>
</body>

</html>