<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Otaku Review">
    <meta name="keywords" content="anime, Otaku, Review, OtakuReview,">
    <meta name="author" content="Donovan Hill">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/style.css">

</head>

<body style="padding: 46px;">
    <header>
        <div id="header">
            <img id="logo" src="../images/Logo.jpg" alt="Logo"> width</img>
            <div id="homeBar">
                <a href="/">
                    <h3> HOME </h3>
                </a>
                <a href="/animeList">
                    <h3> ANIME LIST </h3>
                </a>
                <div id="signin">
                <a href="/login"><h3 style="margin: 3px; color: #121212;">SignIn </h3></a>
                </div>


            </div>

        </div>
    </header>
    <div id="body">
        <div id="aOfWeek">
            <h2 style="align-self: center;">Anime of the week</h2>
            <img src="https://media.kitsu.io/anime/poster_images/12/original.png?1597699104 alt="place"></img>

        </div>
        <h2>Popular Anime</h2>
        <div class="imgBlock">

            <img class="dImg" src="https://via.placeholder.com/250" alt="place"></img>
            <img class="dImg" src="https://via.placeholder.com/250" alt="place"></img>
            <img class="dImg" src="https://via.placeholder.com/250" alt="place"></img>
            <img class="dImg" src="https://via.placeholder.com/250" alt="place"></img>

        </div>
        <h2>Something New</h2>
        <div class="imgBlock">

            <img src="https://via.placeholder.com/250" alt="place"></img>
            <img src="https://via.placeholder.com/250" alt="place"></img>
            <img src="https://via.placeholder.com/250" alt="place"></img>
            <img src="https://via.placeholder.com/250" alt="place"></img>

        </div>
    </div>
    <footer>
        <div id="footer">
            <h1>About</h1>
            <h1>Contact Us</h1>
            <h1>Home</h1>
        </div>
    </footer>
</body>

</html>